@media (min-width: 614px) {
  header {
    z-index: 1;
  }

  nav.mobile {
    display: none;
  }

  nav.desktop {
    display: flex;
  }

  nav div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  ion-icon {
    transition: all 300ms;
  }

  ion-icon:hover {
    cursor: pointer;
    color: #fc86c1;
  }

  nav .border {
    width: 1px;
    height: 22px;
    background: #dbdbdb;
  }

  nav .icons {
    gap: 20px;
  }

  nav input {
    width: 215px;
    height: 28px;

    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;

    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }

  main {
    margin: 88px 0 54px;
  }

  .stories {
    width: 614px;
    height: 118px;

    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 0 auto 24px;
    position: relative;
  }

  .stories ion-icon {
    display: initial;
    color: #fff;
    font-size: 32px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: calc(50% - 16px);
    right: 8px;
  }

  .post {
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 0 auto 60px;
  }

  .post video {
    width: 612px;
  }

  button {
    cursor: pointer;
    transition: all 300ms;
  }

  .comments button:hover {
    color: rgb(11, 83, 90);
  }

  .new-comment button:hover {
    color: #0095f6;
  }
  footer {
    display: none;
  }
}

@media (min-width: 935px) {
  nav.desktop {
    width: 935px;
    margin: 0 auto;
  }

  .wrapper {
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
  }

  aside {
    width: 293px;
    height: fit-content;
    display: block;
    margin-top: 111px;
    position: sticky;
    top: 111px;
    right: 0;
  }

  .me {
    font-size: 14px;
    line-height: 16px;
    color: #262626;

    display: flex;
    align-items: center;
    gap: 17px;
  }

  aside p {
    font-weight: 300;
    color: #8e8e8e;
  }

  .suggestions {
    font-size: 12px;
    line-height: 14px;
    margin: 24px 0 33px;
  }

  .suggestion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .suggestion-header strong:first-of-type {
    color: #8e8e8e;
  }

  .suggestion-header strong:last-of-type {
    color: #262626;
  }

  .suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    gap: 11px;
  }

  .suggestion strong {
    font-size: 14px;
    line-height: 16px;
  }

  .suggestion div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .suggestion button {
    margin-left: auto;
    font-weight: 500;
    color: #139ef2;
  }

  .suggestion button:hover {
    color: #0b72b3;
  }

  .disclamer,
  .copyright {
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
    margin-bottom: 18px;
  }
}
